[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 120
tab_width = 4

[*.css]
indent_size = 2
tab_width = 2

[*.less]
indent_size = 2
tab_width = 2

[*.proto]
indent_size = 2
tab_width = 2

[*.sass]
indent_size = 2
tab_width = 2

[*.scss]
indent_size = 2
tab_width = 2

[*.vue]
indent_size = 2
tab_width = 2

[{*.ant,*.fxml,*.jhm,*.jnlp,*.jrxml,*.pom,*.rng,*.tld,*.wadl,*.wsdl,*.xml,*.xsd,*.xsl,*.xslt,*.xul}]
indent_size = 2
tab_width = 2

[{*.bash,*.sh,*.zsh}]
indent_size = 2
tab_width = 2

[{*.ft,*.vm,*.vsl}]
indent_size = 2
tab_width = 2

[{*.har,*.jsb2,*.jsb3,*.json,*.jsonc,*.postman_collection,*.postman_collection.json,*.postman_environment,*.postman_environment.json,.babelrc,.eslintrc,.prettierrc,.stylelintrc,.ws-context,jest.config}]
indent_size = 2
tab_width = 2

[{*.htm,*.html,*.sht,*.shtm,*.shtml}]
indent_size = 2
tab_width = 2

[{*.jsf,*.jsp,*.jspf,*.tag,*.tagf,*.xjsp}]
indent_size = 2
tab_width = 2

[{*.jspx,*.tagx}]
indent_size = 2
tab_width = 2

[{*.pb,*.textproto,*.txtpb}]
indent_size = 2
tab_width = 2

[{*.qute.htm,*.qute.html,*.qute.json,*.qute.txt,*.qute.yaml,*.qute.yml}]
indent_size = 2
tab_width = 2

[{*.toml,Cargo.lock,Cargo.toml.orig,Gopkg.lock,Pipfile,poetry.lock,uv.lock}]
indent_size = 2
tab_width = 2

[{*.yaml,*.yml}]
indent_size = 2
